*
!Dockerfile
!.dockerignore
!requirements.txt
!cloud-requirements.txt
!data.py
!train.py
!cloud_io.py
!cloud_entry.py
!gpu_check.py
!Dockerfile.gpu-fix
!cloudbuild-gpu-fix.yaml
!release.py
!cloud_release.py
!publish.py
!Dockerfile.release
!cloudbuild-release.yaml
!cloud_publish.py
!cloudbuild-publish.yaml
